@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <title>Page1</title>
</head>
<body>
    <h3>Text page 1</h3>
    <a asp-action="Index2">Second page</a>
    <br />
    <a asp-action="Index3">Third page</a>
</body>
</html>